body{
    font-family: 'Merriweather', serif;

}
.col-md-1{
    width: 8.33%;
    position: relative;
}
.col-md-2{
    width: 16.67%;
    position: relative;
}
.col-md-3{
    width: 25%;
    position: relative;
}
.col-md-4{
    width: 33.32%;
    position: relative;
}
.col-md-5{
    width: 41.67%;
    position: relative;
}
.col-md-6{
    width: 50%;
    position: relative;
}
.col-md-7{
    width: 58.31%;
    position: relative;
}
.col-md-8{
    width: 66.64%;
    position: relative;
}
v
.col-md-9{
    width: 75%;
    position: relative;
}
.col-md-10{
    width: 83.33%;
    position: relative;
}
.col-md-1{
    width: 91.67%;
    position: relative;
}
.col-md-12{
    width: 100%;
    position: relative;
}
ul li{
   list-style: none; 
   margin: 0 0;
}
ul{
   margin: 0 0;
}
p{
   margin: 0 0;
}
h1{
   margin: 0 0;
}
h2{
   margin: 0 0;
}
h3{
   margin: 0 0;
}
h4{
   margin: 0 0;
}
h5{
   margin: 0 0;
}
h6{
   margin: 0 0;
}
a {
   text-decoration: none;
}
.c{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
   width: 950px;
   margin: 0 auto;
   padding: 0px;
   position: relative;
}
.top-bar{
    height: 40px;
    background: #ababab;
}
.top-bar p{
    padding: 10px;
    color: #fff;
}
header{
    background: #424343;
    height: 200px;
}
.menubar ul li{
    float: left;
    color: #fff;
    padding: 10px;
}
.menubar a{
    color: #fff;
    font-size: 18px;
}
.mb-right ul li img.cart {
    padding: 3px;
    border: none;
    background: red;
}
.mb-left ul {
    margin-left: -40px;
}
.mb-left ul li{
    border-right: 1px solid#686969;
}
.mb-right ul li{
    border-right: 1px solid#686969;
}
.menubar hr {
    position: absolute;
    border: 1px solid#686969;
    top: 38px;
    width: 950px;
}
.log-bar ul li{
    float: left;
}
.log-bar p {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 42px;
    padding-left: 40px;
    padding: 20px;
}
input.menu-search {
    border: none;
    color: #c0c0c0;
    background: #424343;
    border-bottom: 1px solid #c0c0c0;
    text-align: right;
    margin-left: 38px;
    font-size: 30px;
    width: 210px;
    padding-top: 26px;
}
.log-bar img {
    margin-left: -40px;
    padding-top: 7px;
}
.f-head ul li{
    float: left;
}
.f-head ul{
    background: #424343;
    height: 78px;
}
.f-head h2 {
    margin: 0 0;
    color: #d7b691;
    padding: 18px 18px 17px 0px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.f-head h1 {
    color: #fff;
    padding: 16px 11px 17px 17px;
}
footer {
    padding-top: 40px;
}
.f-head {
    margin: 30px 0px;
}
.account h1{
    padding-bottom: 20px;
    color: #666462;
    font-size: 26px;
}
.map h1{
    color: #666462;
    padding-bottom: 20px;
    font-size: 26px;
}
.subscribe h1{
    color: #fff;
    padding-bottom: 20px;
    font-size: 26px;
}
.subscribe h1 a{
    color: #d7b691;
}
.account input[type="email"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    color: #666462;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.account input[type="password"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    color: #666462;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.account input.login {
    border: none;
    background: #7B7474;
    color: #fff;
    padding: 6px 15px;
    font-size: 16px;
    float: right;
    border-radius: 5px;
}
footer{
    background: url(images/footer-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
.account{
    padding: 15px;
    background: #fff;
}
.subscribe{
    width: 36.5%;
    padding: 15px;
    padding-bottom: 6px;
    background: #424343;
}
.map{
    background: #fff;
    width:29%;
    padding: 15px 15px 3px 15px;
}
.account h5 a {
    font-size: 15px;
    font-family: 'Lobster', cursive;
    color: #d7b691;
}
.account img{
    padding: 10px 0px;
    margin: 14px 0px;
}
.map ul li {
    color: #666462;
    font-size: 16px;
    padding: 9px 5px;
}
.map ul {
    width: 128px;
    margin-left: -40px;
}
.subscribe input[type="email"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    background: #424343;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.subscribe input[type="password"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    background: #424343;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.subscribe input.login {
    border: none;
    margin-left: 36%;
    margin-top: 3%;
    border-bottom: 1px solid;
    color: #d7b691;
    background: #424343;
    padding: 6px 15px;
    font-size: 16px;
    border-radius: 5px;
}
.subscribe input::-webkit-input-placeholder {
    color: #fff !important;
}
.subscribe ul li{
    float: left;
    padding: 23px 15px;
}
.subscribe ul {
    height: 98px;
    background: #dcdbdb;
    width: 97%;
    margin-left: -15px;
    margin-bottom: -6px;
}
.bottom-bar p {
    color: #fff;
    font-size: 15px;
    font-family: 'Lobster', cursive;
}
.bottom-bar p a{
    color: #d7b691;
}
.bottom-bar{
    height: 50px;
    width: 100%;
}
.bottom-bar ul li{
    background: #424343;
    width: 31.2%;
    padding: 16px 10px;
    float: left;
}
.bottom-bar ul{
    margin-left: -40px;
}
.col-md-1{
    width: 8.33%;
    position: relative;
}
.col-md-2{
    width: 16.67%;
    position: relative;
}
.col-md-3{
    width: 25%;
    position: relative;
}
.col-md-4{
    width: 33.32%;
    position: relative;
}
.col-md-5{
    width: 41.67%;
    position: relative;
}
.col-md-6{
    width: 50%;
    position: relative;
}
.col-md-7{
    width: 58.31%;
    position: relative;
}
.col-md-8{
    width: 66.64%;
    position: relative;
}
v
.col-md-9{
    width: 75%;
    position: relative;
}
.col-md-10{
    width: 83.33%;
    position: relative;
}
.col-md-1{
    width: 91.67%;
    position: relative;
}
.col-md-12{
    width: 100%;
    position: relative;
}
ul li{
   list-style: none; 
   margin: 0 0;
}
ul{
   margin: 0 0;
}
p{
   margin: 0 0;
}
h1{
   margin: 0 0;
}
h2{
   margin: 0 0;
}
h3{
   margin: 0 0;
}
h4{
   margin: 0 0;
}
h5{
   margin: 0 0;
}
h6{
   margin: 0 0;
}
a {
   text-decoration: none;
}
.c{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
   width: 950px;
   margin: 0 auto;
   padding: 0px;
   position: relative;
}
.top-bar{
    height: 40px;
    background: #ababab;
}
.top-bar p{
    padding: 10px;
    color: #fff;
}
header{
    background: #424343;
    height: 200px;
}
.menubar ul li{
    float: left;
    color: #fff;
    padding: 10px;
}
.menubar a{
    color: #fff;
    font-size: 18px;
}
.mb-right ul li img.cart {
    padding: 3px;
    border: none;
    background: red;
}
.mb-left ul {
    margin-left: -40px;
}
.mb-left ul li{
    border-right: 1px solid#686969;
}
.mb-right ul li{
    border-right: 1px solid#686969;
}
.menubar hr {
    position: absolute;
    border: 1px solid#686969;
    top: 38px;
    width: 950px;
}
.log-bar ul li{
    float: left;
}
.log-bar p {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 42px;
    padding-left: 40px;
    padding: 20px;
}
input.menu-search {
    border: none;
    color: #c0c0c0;
    background: #424343;
    border-bottom: 1px solid #c0c0c0;
    text-align: right;
    margin-left: 38px;
    font-size: 30px;
    width: 210px;
    padding-top: 26px;
}
.log-bar img {
    margin-left: -40px;
    padding-top: 7px;
}
.f-head p {
    font-size: 50px;
    margin-left: -40px;
    background: #d7b691;
    padding: 10px 30px;
    color: #fff;
}
.f-head ul li{
    float: left;
}
.f-head ul{
    background: #424343;
    height: 78px;
}
.f-head h2 {
    margin: 0 0;
    color: #d7b691;
    padding: 18px 18px 17px 0px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.f-head h1 {
    color: #fff;
    padding: 16px 11px 17px 17px;
}
footer {
    padding-top: 40px;
}
.f-head {
    margin: 30px 0px;
}
.account h1{
    padding-bottom: 20px;
    color: #666462;
    font-size: 26px;
}
.map h1{
    color: #666462;
    padding-bottom: 20px;
    font-size: 26px;
}
.subscribe h1{
    color: #fff;
    padding-bottom: 20px;
    font-size: 26px;
}
.subscribe h1 a{
    color: #d7b691;
}
.account input[type="email"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    color: #666462;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.account input[type="password"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    color: #666462;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.account input.login {
    border: none;
    background: #7B7474;
    color: #fff;
    padding: 6px 15px;
    font-size: 16px;
    float: right;
    border-radius: 5px;
}
footer{
    background: url(images/footer-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
header{
    margin-bottom: 10px;
}
.account{
    padding: 15px;
    background: #fff;
}
.subscribe{
    width: 36.5%;
    padding: 15px;
    padding-bottom: 6px;
    background: #424343;
}
.map{
    background: #fff;
    width:29%;
    padding: 15px 15px 3px 15px;
}
.account h5 a {
    font-size: 15px;
    font-family: 'Lobster', cursive;
    color: #d7b691;
}
.account img{
    padding: 10px 0px;
    margin: 14px 0px;
}
.map ul li {
    color: #666462;
    font-size: 16px;
    padding: 9px 5px;
}
.map ul {
    width: 128px;
    margin-left: -40px;
}
.subscribe input[type="email"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    background: #424343;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.subscribe input[type="password"] {
    border: none;
    border-bottom: 2px solid #c9c9c8;
    padding: 4px;
    background: #424343;
    margin: 5px 0px;
    font-size: 16px;
    width: 95%;
}
.subscribe input.login {
    border: none;
    margin-left: 36%;
    margin-top: 3%;
    border-bottom: 1px solid;
    color: #d7b691;
    background: #424343;
    padding: 6px 15px;
    font-size: 16px;
    border-radius: 5px;
}
.subscribe input::-webkit-input-placeholder {
    color: #fff !important;
}
.subscribe ul li{
    float: left;
    padding: 23px 15px;
}
.subscribe ul {
    height: 98px;
    background: #dcdbdb;
    width: 97%;
    margin-left: -15px;
    margin-bottom: -6px;
}
.bottom-bar p {
    color: #fff;
    font-size: 15px;
    font-family: 'Lobster', cursive;
}
.bottom-bar p a{
    color: #d7b691;
}
.bottom-bar{
    height: 50px;
    width: 100%;
}
.bottom-bar ul li{
    background: #424343;
    width: 31.2%;
    padding: 16px 10px;
    float: left;
}
.bottom-bar ul{
    margin-left: -40px;
}
.shopping-cart h1{
    color: #7c7374;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.shopping-cart table th {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #d7b691;
    color: #7c7374;
    width: 47%;
    text-align: left;
}
.shopping-cart table h2 {
    color: #7c7374;
    font-size: 19px;
    padding: 10px;
}
.shopping-cart table h3 {
    color: #7c7374;
    font-size: 19px;
}
.shopping-cart table img{
    padding: 20px 20px 20px 0px;
}
.shopping-cart table tr{
    border-bottom: 1px solid #d7b691;
}
.shopping-cart table h4 {
    font-size: 28px;
    padding-left: 23px;
    border-bottom: 2px solid #7c7374;
    width: 37px;
    margin: 0px 17px;
    color: #7c7374;
}
.shopping-cart table h5 {
    color: #7c7374;
    font-size: 20px
}
.shopping-cart table td {
    border-bottom: 1px solid #d7b691;
}
.shopping-cart table{
    margin: 20px 0px 50px;
}
.procced {
    background: #424343;
    height: 550px;
    padding-top: 20px;
}
.other-item{
    background: #fff;
    padding: 15px 0px;
    margin: 10px 0px;
}
.other-item img{
    padding: 20px;
}
.other-item h1 {
    color: #7c7374;
    padding: 10px 10px;
    font-size: 28px;
}
.item1 {
    width: 100%;
    margin: 10px 0px;
    float: left;
}
.item1 h2 {
    color: #9f9899;
    font-size: 21px;
    padding: 8px 0px;
}
.item1 h3 {
    color: #9f9899;
    padding: 10px 0px 10px;
    font-size: 30px;
}
.item1 h4 a {
    color: #fff;
    background: #d7b691;
    padding: 9px 10px;
    margin: 10px 0px;
}
.check-out{
    padding: 15px 0px;
    margin: 10px 0px;
}
.check-out h2 a {
    padding: 7px 27.5%;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #d7b691;
}
.check-out h2 {
    margin: 0px 0px 25px;
    width: 100%;
    text-align: center;
}
.check-out h3 a {
    padding: 7px 22%;
    color: #fff;
    background: #d7b691;
    font-size: 18px;
    border: 1px solid #d7b691;
}
.check-out h3{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}
.check-out ul{
    margin-left: -9px;
}
.check-out ul li{
    width: 50%;
    float: left;
    color: #fff;
    padding: 10px 0px;
}
.shipping-left h4 {
    color: #fff;
    padding: 10px 30px;
}
.check-out hr {
    border: 1px solid #d7b691;
    width: 91%;
}
.shipping-right form{
    color: #fff;
    margin: 10px 0px;
}
.shipping-right  hr {
    margin-left: 0px;
}
.address {
    background: #fff;
    width: 83%;
    padding: 3px 10px;
}
.address input {
    margin: 5px 0px;
    border: none;
    padding: 8px 20px 8px 8px;
    background: #e9e5e5;
}
.address select{
    margin: 5px 0px;
    border: none;
    padding: 8px 112px 8px 8px;
    background: #e9e5e5;
}
.address h5 {
    font-weight: 300 !important;
    margin-top: 7px !important;
    color: #424343 !important;
    font-size: 18px !important;
    padding: 0px !important;
    margin-bottom: -10px !important;
}
.shipping-right ul {
    margin-top: -10px;
    margin-left: -38px;
}
.coupon{
    position: absolute;
    top: 430px;
}
.coupon input[type="text"] {
    padding: 8px 30px;
    font-size: 18px;
}
.coupon input[type="submit"] {
    background: #d7b691;
    border: none;
    padding: 9px 12px;
    margin-left: 6px;
    font-size: 20px;
    color: #fff;
}
.shipping-right h5 {
    color: #fff;
    padding: 10px 10px 0px 0px;
    font-size: 15px;
}


/* Hashimi checkout page */



.shipping{
    height: 450px;
    background: #424343;
}
.checkout-page h1 {
    color: #7c7374;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.billing-address {
    width: 80%;
    padding-left: 10%;
}
.billing-address h1 {
    color: #7c7374;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.billing-address h2 {
    font-size: 25px;
    color: #d7b691;
    padding: 10px 10px 10px 0px;
}
.billing-address input {
    width: 48%;
    margin: 7px 5px;
    border: 1px solid #959595;
    padding: 6px 10px;
    font-size: 18px;
}
.billing-address input placeholder{
    color: #959595;
}
.billing-address select {
    width: 48%;
    margin: 7px 5px;
    padding: 3px 10px;
    color: #959595;
    font-size: 18px;
}
.billing-address input.long-bar {
    width: 98%;
}
.billing-address h2 a {
    font-size: 18px;
    background: #d7b691;
    padding: 3px 9px;
    color: #fff;
    border-radius: 8px;
}
.billing-address h5 {
    font-size: 25px;
    color: #7c7374;
    font-weight: 300;
    padding: 17px 0px;
}
.billing-address h5 a{
    color: #d7b691;
}
.billing-address hr {
    border: 1px solid #d7b691;
}
.checkout-page h3{
    color: #959595;
    float: left;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 300;
}
.checkout-page h4 a{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background: #d7b691;
    padding: 7px 9px;
}
.checkout-page h4 {
    float: left;
    margin: 0px 13px;
}
.checkout-page .col-md-6 {
    padding: 12px 0px;
}
.checkout-page hr {
    border: 1px solid #d7b691;
}
.checkout-page th {
    color: #7c7374;
    font-size: 22px;
    text-align: left;
    padding: 8px 0px;
    border-bottom: 1px solid #d7b691;
}
.checkout-page td {
    border-bottom: 1px solid #d7b691;
    padding: 10px 34% 10px 0px;
}
.checkout-page h6 {
    float: left;
    font-size: 23px;
    color: #7c7374;
}
.checkout-page table{
    padding-bottom: 30px;
}
.shipping h3 {
    color: #fff;
    padding: 13px 32px;
    font-size: 25px;
}
.shipping h5 {
    color: #d7b691;
    padding: 13px 32px;
    font-size: 30px;
}
.shipping h6 {
    color: #fff;
    padding: 4px 0px;
    font-size: 22px;
}
.shipping-left h4 {
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    margin: 29% 0px;
}
.shipping hr {
    border: 2px solid #d7b691;
    width: 94%;
}
.terms h4 a {
    position: absolute;
    right: 0px;
    padding: 10px 15px;
    top: 108px;
    color: #fff;
    background: #d7b691;
    font-size: 20px;
}
.paypal {
    border-top: 3px solid #d7b691;
    border-bottom: 3px solid #d7b691;
    margin: 20px 0px;
    padding: 10px 17px;
}
.terms input[type="checkbox"] {
    width: 25px;
    height: 25px;
    position: absolute;
}
.paypal input[type="radio"] {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 29px;
}
.terms h2 {
    padding-left: 35px;
    font-size: 17px;
    padding-top: 5px;
    color: #7c7374;
}
.terms h2 a{
    color: #d7b691;
}
.paypal{
    position: relative;
}
.paypal h3 {
    font-size: 30px;
    padding: 14px 44px;
    color: #7c7374;
}
.paypal p{
    color: #959595;
    font-size: 15px;
}
.terms{
    margin-bottom: 80px;
}


  /* hashimi login page */

.login h1 {
    color: #7c7374;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}  
.login h3 {
    text-align: center;
    margin: 0 0;
    width: 70%;
    font-size: 31px;
    font-weight: 300;
    margin-left: 15%;
}
.login-section {
    padding: 13px;
    width: 40%;
    background: #424343;
    margin-left: 28%;
}
.login-section li {
    float: left;
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
}
.login-section ul {
    margin-left: -40px;
}
.login-section h4 a {
    margin-left: -40px;
    font-size: 32px;
    font-weight: 300;
    padding: 13px 78px;
    color: #d7b691;
}
.login-section h5 a {
    font-size: 32px;
    padding: 13px 49px;
    font-weight: 300;
    background: #ffdada;
    color: #7c7374;
}
.login-section ul li h4 a:hover{
    background: #fff;
    transition: 0.5s ease all;
}
.login-section ul li h5 a:hover{
    background: #d7b691;
    color: #fff;
    transition: 0.5s ease all;
}
.login-section input {
    font-size: 18px;
    padding: 4px 10px;
    margin: 10px 67px;
}
.login-section{
    margin: 50px auto;
    position: relative;
}
.login-section h6 a {
    color: #fff;
    font-size: 17px;
    padding-left: 67px;
}
.login-section h6 {
    margin: 10px 0px;
}
.login-section input.login {
    padding: 4px 15px;
    position: absolute;
    right: 0px;
    border: none;
    bottom: 11px;
    background: #d7b691;
    border-radius: 6px;
    color: #fff;
}
.ls-area {
    padding: 30px 0px;
    position: relative;
    border: 1px solid #d7b691;
    margin-top: 60px;
}


/* product */


.h-products{
    margin-bottom: 50px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  margin: 8px 55%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.product:hover .image {
  opacity: 0.3;
}
.product {
    margin: 10px;
    position: relative;
    width: 50%;
}
.product:hover .middle {
  opacity: 1;
}
.text{
    background: #795f5f52;
}
.p-b-bar h4 {
    color: #d7b691;
    font-size: 15px;
}
.p-b-bar h5 {
    color: #7d7475;
    text-decoration: line-through;
    font-size: 16px;
}
.p-b-bar ul li{
    float: left;
    padding: 5px;
}
.p-b-bar ul{
    margin-left: -40px;
}
.p-b-bar {
    width: 230px;
    height: 45px;
    background: #424343;
}
.product h3 {
    color: #434343;
    font-size: 20px;
    width: 230px;
    text-align: center;
}
.p-b-bar ul li a img {
    padding-top: 6px;
}
.p-b-bar h6 {
    font-size: 25px;
    color: #d9b792;
    padding-left: 13px;
    margin-top: 4px;
}
.text h2 a {
    position: absolute;
    top: 34px;
    left: 25px;
    color: #fff;
    border-radius: 10px;
    margin: 20px 0px 15px 0px;
    padding: 10px 20px;
    border: 1px solid #fff;
}
.text {
    margin-left: 57px;
    position: relative;
    height: 229px;
    width: 230px;
    margin-top: -15px;
    background: #0000006e;
}
.text ul li{
    float: left;
}
.text h3 {
    font-size: 15px;
    float: left;
    color: #fff;
    position: absolute;
    bottom: 64px;
    left: 9px;
}
.text ul {
    position: absolute;
    top: 119px;
    left: 25px;
}
.text h2 a:hover {
    transition: 0.5s ease all;
    background: #d7b691;
}
.hp-menu ul li a {
    font-size: 29px;
    color: #d7b691;
}
.hp-menu ul li {
    float: left;
    border-right: 1px solid #d7b691;
    padding: 10px 10px;
}
.hp-menu ul{
    margin-left: -40px;
}
.hp-menu a.active{
    color: #000;
}
.hp-menu hr {
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-top: 14px;
}
.hp-menu ul li a:hover{
    color: #000;
    transition: 0.4s ease all;
}
.hp-menu{
    padding: 15px 0px 100px 0px;  
}

/* wishlist */

.wishlist table td {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #d7b691;
    color: #7c7374;
    text-align: left;
}
.wishlist table h2 {
    color: #7c7374;
    font-weight: 300;
    font-size: 21px;
    padding: 46px 0px 10px 0px;
}
.wishlist table h3 {
    color: #7c7374;
    font-size: 19px;
}
.wishlist table img{
    padding: 20px 20px 20px 0px;
}
.wishlist table tr{
    border-bottom: 1px solid #d7b691;
}
.wishlist table h5 {
    color: #7c7374;
    font-weight: 300;
    font-size: 26px;
}
.wishlist table td {
    border-bottom: 1px solid #d7b691;
}
.wishlist table{
    border-top: 1px solid #d7b691;
    margin: 20px 0px 50px;
}
.wishlist h4 a {
    color: #fff;
    padding: 8px 15px;
    background: #d7b691;
}
.wishlist h4{
    width: 135px;
}
.wishlist h1 {
    color: #7c7374;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.wishlist td.td3 {
    width: 22%;
}
.wishlist td.td2 {
    width: 17%;
}
.wishlist td.td1 {
    width: 62%;
}
.wishlist ul li a {
    color: #7d7475;
    font-size: 23px;
}
.wishlist ul{
    margin-top: 20px;
    margin-left: -40px;
}
.wishlist ul li {
    padding: 0px 0px 20px 0px;
}
.wishlist ul li a.active {
    color: #d7b691;
}

/* home */

.free-delivery p {
    color: #666462;
}
.free-delivery h3 {
    font-size: 24px;
    line-height: 1cm;
    padding: 0px 0px 10px 0px;
}
.free-delivery {
    margin: 50px auto;
}
.view-p img {
    margin: 50px auto;
}
.news h3 {
    padding: 10px 20px 10px 0px;
    font-size: 21px;
    color: #666462;
}
.news h5 {
    color: #666462;
    font-weight: 300;
    padding: 0px 26px 10px 0px;
}
.news img {
    width: 95%;
}
.news h5 a i {
    color: #d7b691;
    font-weight: 600;
}
.news h2 {
    padding: 10px 0px;
    border-top: 1px solid #976462;
    color: #666462;
}
.blog-1{
    background: url(images/blog-bg.jpg);
    height: 375px;
    width: 300px;
    text-align: center;
}
.blog-in {
    margin: 10px;
    border: 1px solid #fff;
}
.blog-in h2 {
    color: #fff;
    font-weight: 300;
    padding: 20px 0px 10px 0px;
    font-size: 25px;
}
.blog-in h4 {
    color: #fff;
    font-size: 40px;
    padding: 0px 0px 20px 0px;
}
.blog-in p {
    font-size: 16px;
    color: #fff;
    padding: 0px 10px 13px 16px;
}
.blog-in h3 a {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    border: 1px solid #fff;
    padding: 9px 29px;
}
.blog-in h3 {
    margin: 38px 0px;
}
.slider {
    margin-top: -10px;
}
.hc h1 {
    color: #424343;
    padding: 10px 0px 2px 0px;
}
.hc h3 {
    font-size: 18px;
    color: #d7b691;
    font-weight: 300;
}
.hc p {
    color: #666462;
    font-size: 15px;
    padding: 10px 119px 10px 0px;
}
.hc h4 a {
    color: #666462;
    position: absolute;
    border: 1px solid #666462;
    padding: 5px 14px;
    right: 19px;
    bottom: 12px;
}
.hc img {
    margin: 28px 0px;
}
.seed-oil{
    height: 240px;
    background: url(images/seed-bg.jpg);
}
.scrub{
    height: 240px;
    background: url(images/scrub-bg.jpg);
}
.scrub h1 {
    font-size: 25px;
    color: #fff;
    padding: 21px 0px 10px 17px;
}
.seed-oil h1 {
    font-size: 25px;
    color: #fff;
    padding: 21px 0px 10px 17px;
}
.scrub p {
    color: #fff;
    padding: 0px 20px;
    font-size: 13px;
}
.seed-oil p {
    color: #fff;
    padding: 0px 20px;
    font-size: 13px;
}
.seed-oil h4 a {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin: 0px 20px;
}
.scrub h4 a {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin: 0px 20px;
}
.seed-oil h4 {
    margin-top: 30px;
}
.scrub h4 {
    margin-top: 30px;
}
.scrub img {
    padding: 19px 0px 19px 0px;
}
.seed-oil img {
    padding: 19px;
}
.seed {
    height: 120px;
    background: #424343;
}
.seed ul li{
    text-align: center;
    float: left;
    padding: 22px 22px;
}
.seed h3 {
    color: #d7b691;
    font-size: 27px;
    font-style: italic;
    font-weight: 300;
}
.seed h4 {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    padding: 7px 10px;
}
.feature-p h1 {
    color: #424343;
    padding: 11px 0px;
    font-size: 39px;
    font-style: italic;
}
.feature-p h4 {
    font-size: 21px;
    color: #d7b691;
    font-weight: 300;
}
.jar .text {
    margin-left: 96px;
}
.jar .image{
    width: 207px;
}
.bottle .image {
    width: 207px;
    margin-left: 8px;
    height: 533px;
}
.bottle .text {
    margin-left: 96px;
    position: relative;
    height: 536px;
    width: 230px;
    margin-top: -10px;
    background: #0000006e;
}
.bottle .text h2 a{
    margin-top: 150px;
}
.bottle .text ul {
    position: absolute;
    top: 258px;
    left: 15px;
}
.bottle .text h3{
    bottom: 221px;
    left: 3px;
}
.sub .subscribe {
    width: 88%;
    border: 1px solid #fff;
    padding: 15px;
    margin-left: 3px;
    margin-bottom: 22px;
    margin-top: 5px;
    padding-bottom: 6px;
    background: #424343;
}
.sub .subscribe h1 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 26px;
}
.sub {
    width: 316px;
    text-align: center;
    padding: 1px;
    background: #424343;
    height: 254px;
    margin-bottom: 20px;
}
.sub1 h3 a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 29px;
}
.sub1 h3 {
    margin: 34px 0px;
}
.sub1 img {
    margin: 36px 0px;
}
.sub1 .subscribe {
    width: 88%;
    border: 1px solid #fff;
    padding: 15px;
    margin-left: 3px;
    margin-bottom: 22px;
    margin-top: 5px;
    padding-bottom: 6px;
    background: #424343;
}
.sub1 .subscribe h1 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 26px;
}
.sub1 {
    width: 316px;
    text-align: center;
    padding: 1px;
    background: #424343;
    height: 349px;
    margin-bottom: 20px;
}
.feature-p {
    margin: 50px auto;
}