@media (min-width: 1200px){
.container {
    position: relative !important;
    width: 1350px !important;
    margin: 0 auto !important;
    padding: 0px !important;
}
}
body{
    background: #000 !important;
    font-family: 'Open Sans Condensed', sans-serif;
}
.logo-part{
    overflow: hidden; 
    background: #e9eae2;
}
.logo-part ul li{
    float: left;
    padding: 5px;
    list-style: none;
}
.address{
    background: #7acec3;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.address span {
    font-size: 62px;
    margin: 0px 36%;
    position: absolute;
    top: 40px;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 0px 20px;
}
.address p {
    color: #fff;
    margin: -3px 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.logo-part ul {
    margin-left: -40px;
    margin-top: 20px;
}
.address {
    height: 437px;
}
.fondue p {
    margin: 0px -6px;
    font-size: 12px;
    text-transform: uppercase;
}
.fondue p span{
    font-weight: bold;
}
.fondue h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 51px 10px;
}
.fondue{
    overflow: hidden;
    position: relative;
}
.address hr {
    width: 632px;
    transform: rotate(135.5deg);
    position: absolute;
    top: 45%;
    right: -94px;
}
.ap-2 {
    position: absolute;
    top: 64%;
    left: 37%;
}
.ap-1 {
    position: absolute;
    top: 44%;
    left: 10%;
}
.projects{
    width: 31% !important;
    background: #ebb240;
    height: 500px;
}
.projects ul li {
    list-style: none;
    color: #fff;
    margin: -3px -3px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
.projects ul li a{
    color: #fff;
    transition: .3s ease all;
}
.projects ul li a:hover{
    color: #000;
    text-decoration: none;
}
.fondue{
    background: #fff;
    width: 37% !important;
    height: 500px;
}
img.lamp {
    position: absolute;
    top: 0px;
    right: -2px;
}
.projects ul {
    position: absolute;
    top: 24%;
    left: 13%;
}
.projects hr {
    width: 798px;
    transform: rotate(130.5deg);
    position: absolute;
    left: -56%;
    top: 55%;
}
.projects h2 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 66%;
    right: 8%;
    font-size: 47px;
}
.l{
    width: 31% !important;
}