.col-md-1{
    width: 8.33%;
    position: relative;
}
.col-md-2{
    width: 16.67%;
    position: relative;
}
.col-md-3{
    width: 25%;
    position: relative;
}
.col-md-4{
    width: 33.32%;
    position: relative;
}
.col-md-5{
    width: 41.67%;
    position: relative;
}
.col-md-6{
    width: 50%;
    position: relative;
}
.col-md-7{
    width: 58.31%;
    position: relative;
}
.col-md-8{
    width: 66.64%;
    position: relative;
}
v
.col-md-9{
    width: 75%;
    position: relative;
}
.col-md-10{
    width: 83.33%;
    position: relative;
}
.col-md-1{
    width: 91.67%;
    position: relative;
}
.col-md-12{
    width: 100%;
    position: relative;
}
body{
    background: #f8f8f8;
}
ul li{
   margin: 0 0;
}
ul{
   margin: 0 0;
}
p{
   margin: 0 0;
}
h1{
   margin: 0 0;
}
h2{
   margin: 0 0;
}
h3{
   margin: 0 0;
}
h4{
   margin: 0 0;
}
h5{
   margin: 0 0;
}
h6{
   margin: 0 0;
}
a {
   text-decoration: none;
}
body{
    background: #efefef;
}
.container{
   width: 1160px;
   margin: 0 auto;
   padding: 0px;
}
header {
    height: 88px;
    background: #fff;
}
.left{
   float: left;
}
.right{
   float: right;
}
.c{
    clear: both;
}
ul li{
    list-style: none;
}
input.search {
    width: 450px;
    padding: 11px;
    font-size: 17px;
}
input.submit {
    padding: 11px;
    margin-left: -4px;
    background: #00aaff;
    color: #fff;
    font-size: 18px;
}
.h-part3 ul li{
    float: left;
    width: 61px;
}
.h-part1 img {
    padding: 15px;
    background: #fff;
}
.h-part2{
    margin-top: 19px;
}
.h-part3{
    text-align: center;
    margin-top: 19px;
}
.h-part3 h3 {
    font-weight: 300;
    color: #7a7a7a;
    font-size: 15px;
}
.category h3{
    padding: 14px;
    background: #e9e9e9;
    font-weight: 600;
    color: #000    
}
.category ul li {
    background: #fff;
    box-shadow: 2px 2px 2px #ccc;
    padding: 14px;
}
.category ul{
    margin-left: -39px;
}
.category ul li a {
    color: #4c4c4c;
    font-size: 17px;
}
.category ul li:hover{
    background: #ffdede;
    transition: 0.5s ease all;
}
.slider-pic ul li {
    background: #fff;
    float: left;
    padding: 17px 26px;
    font-size: 20px;
}
.slider-pic ul li a{
    color: #4c4c4c;
}
.slider-pic ul li:hover{
    border-bottom: 2px solid #ff6d00;
}
.slider-pic {
    background: url(images/iphone-bg.jpg) no-repeat;
    height: 450px;
    background-size: cover;
}
.sp-text h2 {
    margin-left: 37px;
    color: #fff;
    width: 216px;
    border-bottom: 1px solid #b7e0f3;
    border-top: 1px solid #b7e0f3;
    font-size: 37px;
    padding: 13px 0;
    margin-bottom: 30px;
}
.sp-text{
    text-align: center;
    margin: 83px;
}
.sp-text p {
    font-size: 18px;
    line-height: 1cm;
    color: #b7e0f3;
}
.sp-text h4 a {
    background: #ff6d00;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}
.sp-text h4 {
    margin-top: 64px;
}
.sp-pic img {
    margin-top: 45px;
}
.c-text{
    text-align: center;
}
.cosmetic{
    height: 300px;
    margin: 50px 0px;
    background: url(images/cosmetic.jpg) no-repeat;
}
.c-text h3 {
    color: #fff;
    padding: 14px;
    font-size: 36px;
    font-family: Kaushan Script;
}
.c-text h2 {
    color: #cb836b;
    padding-right: 101px;
    font-size: 40px;
    font-family: 'Poiret One', cursive;
}
.c-text h4 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 112px;
    top: 61px;
}
.c-text h5 a {
    background: #cb836b;
    padding: 11px 22px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}
.c-text h5{
    margin-top: 30px;
}
.c-text {
    border-right: 3px solid #CB4;
    margin-left: 36.2%;
    text-align: center;
    padding-bottom: 6.5%;
    padding-top: 4%;
    border-left: 3px solid #CC3;
}
.trend{
    height: 266px;
    padding: 50px 20px;
}
.trend h3 {
    font-weight: 400;
    padding: 11px 43px 11px 8px;
}
.trend h4 {
    padding-left: 10px;
    font-size: 19px;
    font-weight: 600;
    margin-top: 4px;
}
.post{
    background: #fff
}
.trend h4 {
    padding-left: 10px;
    font-size: 19px;
    font-weight: 600;
    margin-top: 4px;
}
.sale1 {
    background: #f5dbae;
    border-radius: 8px;
}
.sale2 {
    background: #fde3e3;
    border-radius: 8px;
}
.sale3 {
    background: #faf9fe;
    border-radius: 8px;
}
.sale1 .s-text {
    font-family: 'Kaushan Script', cursive;
}
.sale3 .s-text {
    font-family: 'Poiret One', cursive;
}
.sale2 .s-text {
    font-family: 'Cinzel', serif;
}
.s-text h2 {
    font-size: 21px;
    padding: 9px 2px;
}
.s-text h2 {
    font-size: 21px;
    padding: 9px 2px;
}
.s-text h1 {
    font-size: 39px;
    padding: 15px;
}
.s-text h5 a {
    background: #cb836b;
    padding: 11px 22px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}
.sale{
    margin: 30px 0px;
}